<!-- templates/components/footer.html -->
<footer class="py-4 bg-dark mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; {{ current_year }} ИхтиоБет. Все права защищены.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="https://twitter.com" class="text-light me-3" target="_blank">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://discord.com" class="text-light me-3" target="_blank">
                    <i class="bi bi-discord"></i>
                </a>
                <a href="https://telegram.org" class="text-light me-3" target="_blank">
                    <i class="bi bi-telegram"></i>
                </a>
                <a href="https://github.com" class="text-light" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </div>
    </div>
</footer>