{% extends "reuse/base.html" %}
{% block content %}
<div class="cont">
  <div class="content d-flex justify-content-center align-items-center h-100">
    <div class="cover-container d-flex flex-column align-items-center">
      <main class="px-3 text-center">
        <h1 class="text-white">Кейс {{ name }}</h1>
        <p class="lead text-white">
          {{ description }}
        </p>
        <p class="lead">
          <a
            href="/case{{n}}open"
            class="btn btn-lg btn-light fw-bold border-black bg-grey"
          >ОТКРЫТЬ</a>
        </p>
      </main>
    </div>
  </div>
</div>
{% endblock %}
